body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculadora {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

#display {
  width: 100%;
  font-size: 32px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}
